<div style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px;">
  <BR>
  <u>Anfrage von</u>
  <BR>
  <%= "#{@email.salutation} #{@email.title} #{@email.name} (#{@email.company} / #{@email.position})" %>
  <BR>
  <%= "Versendet am: #{@email.created_at.strftime("%d.%m.%Y")} um #{@email.created_at.strftime("%H:%m")} Uhr." %>
  <BR><BR><BR>
  <u>Absender:</u>
  <BR>
  <%= "Name: #{@email.salutation} #{@email.title} #{@email.name}" %>
  <BR>
  <%= "Unternehmen: #{@email.company}." %>
  <BR>
  <%= "Position: #{@email.position}." %>
  <BR><BR>
  <%= "Tel.: #{@email.phone}." %>
  <BR>
  E-Mail: <%= mail_to @email.email, @email.email %>
  <BR><BR><BR>
  <u>Mitteilung</u>:
  <BR>
  <%= @email.notes %>
  <BR><BR><BR>
  <%= mail_to @email.email, 'Antwort schreiben' %>
  <BR><BR>
  <HR>
</div>
