<% if params[:email] && !email.valid? %>
  <%= link_to '', fehler_path, id: 'autostart' %>
<% elsif email.valid? && !email.new_record? %>
  <%= link_to '', danke_path, id: 'autostart' %>
<% end %>

<div id="page-container" class="page-container">

  <div id="page-header" class="page-header">
    <div id="logo" class="logo">
      <%= link_to 'http://www.1000jobboersen.de' do %>
        <%= image_tag '1000jb_logo.jpg', width: 380, height: 56, border: 0, style: 'border: 0px;' %>
      <% end %>
    </div>
    <div id="hotline" class="hotline">
      <%= image_tag 'hotline.jpg', width: 222, height: 68, border: 0 %>
    </div>
  </div>
  <div id="page-content" class="page-content">

    <!-- formular container /Start-->
    <div id="page-form-top-container" class="page-form-top-container">

  <div id="page-form-top" class="page-form-top typo"></div>
  <div id="page-form-txt" class="page-form-txt">
    <%= image_tag 'form_bg_txt.jpg', border: 0, style: 'padding-left:10px; padding-top:10px;' %>
  </div>
  <div id="page-form-mid" class="page-form-mid typo">

<%= simple_form_for email, name: 'angebot' do |form| %>
<table width="442" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="3" style="padding-top: 10px;padding-bottom:10px; line-height:13px;">
  Damit wir Sie beraten können, bitten wir Sie um die folgenden Angaben. Unsere Spezialisten werden sich innerhalb eines Werktages bei Ihnen melden.
  <!--
    <br />
    Falls Sie bereits eine Stellenanzeige haben, zu der Sie ein Angebot erhalten möchten, können Sie diese mit der Upload-Funktion direkt an uns senden. -->
    </td>
  </tr>
  <tr>
    <td width="115" style="padding-top:10px;">Anrede:<br />
    <%= form.input_field :salutation, collection: %w(Herr Frau), id: 'anrede', :class => 'form skurz' %>
    </td>
    <td width="115" style="padding-top:10px;">Titel:<br />
    <%= form.input_field :title, collection: %w(dr. prof. dipl.ing), id: 'titel', :class => 'form skurz' %>
    </td>
    <td width="216" style="padding-top:10px;">* Name, Vorname:<br />
      <%= form.input_field :first_name, id: 'name', :class => 'form kurz' %>
  </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-top:10px;">* Ihr Unternehmen:<br />
    <%= form.input_field :last_name, id: 'unternehmen', :class => 'form kurz' %>
  </td>
  <td style="padding-top:10px;">Position:<br />
    <%= form.input_field :position, id: 'position', :class => 'form kurz' %>
  </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-top:10px;">Vorwahl + Rufnummer:<br />
      <%= form.input_field :phone, id: 'telefon', :class => 'form kurz' %>
    </td>
    <td style="padding-top:10px;">* E-Mail Adresse:<br />
      <%= form.input_field :email, id: 'email', :class => 'form kurz' %>
    </td>
  </tr>
  <tr>
    <td colspan="3" style="padding-top:10px;">Mitteilungen (z.B. bevorzugte Anrufzeit)<br />
      <%= form.input_field :notes, as: :text, id: 'mitteilung', :class => 'form lang', rows: 2 %>
    </td>
    </tr>
  <tr>
    <td colspan="3" style="padding-top:15px; padding-bottom:15px;">
    <!--<input name="send" type="hidden" class="form kurz" id="send" value="sending" />-->
    <input type="image" border="0" name="senden" alt="Angebot anfordern" src="<%= image_path 'btn_senden.jpg' %>">
    <!--<a href="danke.php" id="various2"><img src="img/btn_senden.jpg" border="0" alt="Angebot anfordern" /></a>-->
    </td>
    </tr>
</table>
<% end %>
<!-- Formular ENDE -->
    </div>
  <div id="page-form-bottom" class="page-form-bottom typo"></div>
    <span style="padding-left:20px;">* - Pflichtfelder</span>
    </div>
    <!-- formular container /Ende-->
    <div id="teaser" class="teaser">
    <div id="angebot" class="angebot">
      <ul style="margin-left:-10px; padding-top:50px;">
          <li>Individuelle Auswahl der relevanten Jobbörsen,<br />Nischenportale und Social Media-Kanäle</li>
          <li>Kostenfreie Beratung durch unsere Spezialisten</li>
          <li>Professionelles Layout, Titel- und Textoptimierung</li>
          <li>Anzeigen-Veröffentlichung und Refresh</li>
          <li>Bestes Preis-Leistungsverhältnis</li>
          <li>500 Euro Wertbonus je 1.000 Euro Anzeigenwert</li>
          <li>"Für bis zu 5 Stellenanzeigen</li>
        </ul>
        <br /><br /><br />
        <%= link_to raw('<b>&gt; Beispielrechnung</b>'), beispielrechnung_path, id: 'various1', style: "font-size:14px; padding-left:20px;" %>
<br />
<a href="http://www.1000jobboersen.de/wertsteigerung/angebotsbedingungen.pdf" target="_blank" style="font-size:14px; padding-left:30px;"><b>Angebotsbedingungen</b></a>
    </div>
    </div>
  </div>
</div>

<div id="page-footer" class="page-footer">

<div style="height:98px; width:80px; position:inherit; float:right; margin-bottom:-20px; margin-right:10px;">
<a href="http://karriere.de/"><img src="http://1000jobboersen.de/images/logos/faircompany.png" width="77" height="99" border="0" alt="karriere.de" /></a>
</div>

<div style="height:60px; width:330px; background:url('http://1000jobboersen.de/stylesheets/_img/bg-jobfinder.png') no-repeat left bottom; padding:30px 0px 10px 95px;; position:inherit; float:right;">
<span style="color:#1e518b; font-size:20px; font-weight:bold;">Unser Partnerportal:<br /></span>
<a href="http://www.jobboersenfinder.de/" style="color:#313131; font-size:24px; font-weight:bold;">www.jobboersenfinder.de</a>
</div>

<div id="footer-menu" class="footer-menu">
<a href="http://1000jobboersen.de/kontakt" style="padding-right:18px;">Kontakt</a> -
<a href="http://1000jobboersen.de/agb" style="padding-right:18px; padding-left:18px;">AGB</a> -
<a href="http://1000jobboersen.de/impressum" style="padding-left:18px;">Impressum</a>
</div>

</div>
<div id="page-copy" class="page-copy">
© 2011 - HR New Media GmbH, Tauentzienstraße 14 | 10789 Berlin, 1000jobboersen.de |
Sitz: Berlin | HRB 114159 B - Amtsgericht Berlin-Charlottenburg |
Geschäftsführer: Florian Behn, Benjamin Pochhammer
</div>
